* { box-sizing: border-box; }

html, body {
    margin: 0; width: 100%; display: flex;
    height: 100%; overflow-x: hidden;
    flex-direction: column;
}

body::-webkit-scrollbar { display: none; }

#topbar {
    width: 100%; height: 65px; background-color: #212121;
    padding: 5px; display: flex; flex-direction: row;
	align-items: center; padding-left: 10px; padding-right: 10px;
	gap: 15px; font-family: Roboto, sans-serif;
}

#topbar a {
	text-decoration: none; color: #fff;
	height: 30px; text-align: center;
	display: flex; align-items: center;
	justify-content: center;
}

#topbar a:hover { border-bottom-style: solid; padding-top: 2px; }

#logoFrame {
    height: fit-content; width: fit-content;
    display: flex; align-items: center; gap: 3px;
}

#topbar #separator {
	height: calc(100% - 10px); width: 3px; background-color: #fff;
	border-radius: 50px; margin-left: 5px; margin-right: 5px;
}

#projectsFrame {
    flex: 1; width: 100%; background-color: #eee; padding-bottom: 16px;
    display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	row-gap: 3px; column-gap: 12px; padding-right: 16px; padding-left: 16px; align-items: center;
	padding-top: 16px; grid-auto-rows: 150px; grid-auto-columns: calc(100% - 16px);
}

.projectFrame {
    height: 140px; background-color: #fff;
	border-radius: 12px;
	padding-bottom: 12px; display: flex;
	flex-direction: column; align-items: center;
}

.projectFrame h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px; margin-top: 10px; font-size: x-large;
}

.projectFrame p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px; margin-top: 0;
}

.projectFrame .buttons {
	display: flex; justify-content: space-between; margin: 0 10px 0; width: 50%; height: 35px;
	overflow: hidden;
}
.projectFrame .buttons a {
	height: 100%; background-color: #1e90ff; color: white; width: 100%; border-radius: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none; text-align: center; display: flex; justify-content: center; align-items: center;
}

.projectFrame .buttons .button1 {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: 1.5px solid #1b86ed;
}

.projectFrame .buttons .button2 {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 1.5px solid #1b86ed;
}

